body {
    min-width: 422px;
}

main {
    display: flex;
    padding-top: 8px;
    height: fit-content; /*asi kvuli spravnymu zobrazeni klicu*/
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header, footer {
    display: flex;
    height: 85px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

header text, footer text {
    font-size: 1.22em;
}

.Logo {
    padding-bottom: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #d9ebff;
    padding-top: 7px;
    padding-bottom: 8px;
    box-shadow: 3px 4px 5px 1px #00000063;
}

a.font {
    font-family:"Comic Sans MS";
    font-size: 1em;
    font-weight: bold;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration-line: none;
}

#img-home {
    width: 50%;
    height: 50%;
}

.main-item {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-top: 5vw;
    align-self: flex-start;
    justify-content: center;
}

.btn-main-item {
    align-self: center;
    padding-right: 2vw;
}

.btns-social-media {
    display: flex;
    height: 50px;
    padding-right: 2vw;
    padding-top: 20px;
    justify-content: center;
}

.imgs-social {
    height: inherit;
    width: 50px;
    padding-left: 5px;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.4));
}

.button-styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 33px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0)
    );
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3),
                inset 4px 7px 7px rgba(255, 255, 255, 0.6),
                inset -3px -4px 8px -2px rgba(0, 0, 0, 0.6);
}

.button-styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.button-styled:active {
    box-shadow:
            inset -4px -5px 5px rgba(255, 255, 255, 0.6),
            inset 3px 4px 5px 1px rgba(0, 0, 0, 0.6);
}